html {
  height: 100%;
}

body {
  height: 100%;
	font-size: 16px;
    text-size-adjust: 90%;
    -o-text-size-adjust: 90%;
    -ms-text-size-adjust: 90%;
    -moz-text-size-adjust: 90%;
	-webkit-text-size-adjust: 90%;
	font-family:
        "ヒラギノ角ゴ Pro W3",
        "Hiragino Kaku Gothic Pro",
        "メイリオ",
        Meiryo,
        Osaka,
        sans-serif,
        "モトヤLマルベリ3等幅";
	background-color: #f4b783;
    background-image: url("/images/contents2015/background.png");

    padding: 0px;
    margin: 0px;
    color: #641900;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

div {
  text-align: center;
}

#footer {
  display: block;
  position: relative;
  margin-left: 20%;
  width: 64px;
  height: 64px;
  overflow: hidden;
}

#footer img {
	position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  vertical-align: text-bottom;
  border-style: none;
}
#footer:hover img:nth-of-type(2) {
	opacity: 0;
}

.title {
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
  font-size: 32px;
}

#entrance_container {
  margin-left: auto;
  margin-right: auto;
  max-width: 660px;
}

.notice_panel {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 8px;
  padding: 20px;
  background-color: #fff;
  border: 3px solid #ffadbd;
  border-radius: 20px;
}

.notice_picture img {
  display: block;
  max-width: 200px;
}

.notice_picture img {
  width: 100%;
}
.notice_panel ul {
  margin-left: 60px;
  text-align: left;
}

.entrance_panel {
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 8px;
  padding-right: 8px;
}

.entrance_face {
  float: left;
  width: 60px;
  background-color: #fff9e7;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  
}
.entrance_face_img {
  display: inline-block;
  
  max-width: 48px;
  margin: 0 auto;
}
.entrance_face_img img {
  width: 100%;
}

#entrance_name {
  line-height: 16px;
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  color: #35a63e;
  font-size:120%;
  padding-left: 6px;
  padding-right: 6px;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;
  box-sizing: border-box;
  margin-left: 8px;
}

#entrance_color {
  line-height: 16px;
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  color: #35a63e;
  font-size:120%;
  padding-left: 6px;
  padding-right: 6px;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;
  box-sizing: border-box;
  margin-left: 8px;
}

.enter_name {
  font-size: 24px;
  max-width: 640px;
  background-color: #fff9e7;
  border-radius: 16px;
  padding: 8px;
  margin-bottom: 16px;
  border: 2px solid #ff9363;
}

.entrance_enter {
  width: 100px;
  height: 48px;
  font-size: 16px;
  line-height: 3.4em;
  color: #fff;
  font-weight: bold;
  background: #bcbcbc;
  text-align: center;/*文字をボタン中央に表示*/
  border: 1px solid #bbb;
  border-radius: 4px;/*角丸*/
  box-sizing: border-box;/*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/
  margin-left: 3px;
}

.entrance_enter:hover {
  background: #3BA96C; /*マウスポインタを当てた時にアクティブな色になる*/
  cursor: pointer;/*マウスポインタを当てた時に、カーソルが指の形になる*/
}

.entrance_member {
  padding: 3px;
  font-size: 12px;
  height: 24px;
  border: 0px;
  text-align: center;
  word-break: break-all;
}

#entrance_notice {
  color: red;
  text-align: center;
}


#chat_container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #eee;
  display: flex;
	flex-direction: column;
}

#chat_header {
  padding: 4px;/*隙間調整*/
  font-size: 16px;
  height: 30px;
	background-color: #FFFFCC;
  border: 0px;
  background-image: url("/images/contents2015/background.png");
}

#chat_title {
  float: left;
  font-size: 16px;
  width: 60%;
  height: 30px;
  font-weight: bold;
  text-align: left;
}

#chat_name {
  font-size: 16px;
  width: 40%;
  height: 30px;
  text-align: right;
  float: left;
}

#chat_back {
  float: left;
  width: 48px;
  height: 30px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  background: #bcbcbc;
  text-align: center;/*文字をボタン中央に表示*/
  border: 1px solid #bbb;
  border-radius: 4px;/*角丸*/
  box-sizing: border-box;/*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/
  margin-left: 3px;
}

#chat_header2 {
  padding: 3px;
  font-size: 12px;
  height: 24px;
	background-color: #FFFFCC;
  border: 0px;
  text-align: left;
  word-break: break-all;
  background-image: url("/images/contents2015/background.png");
  border-bottom: 2px solid #ff9363;
}

#chat_panel {
  overflow: auto;/* スクロールを効かせつつ、メッセージがタイムラインの外に出ないようにする */
  height:100%;/*テキストエリアが下に張り付く様にする*/
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
	background-color: #fff9e7;
	flex: 1;
	overflow: auto;
	position: relative;
}

#chat_footer {
	background-color: #fff9e7;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 54px;
  padding: 4px;
}

#chat_face {
  float: left;
  width: 48px;
  height: 48px;
  font-size: 16px;
}

#chat_face img {
  width: 100%;
}

#chat_message {
  float: left;
  width: calc(100% - 75px - 48px);/*常に送信ボタンの横幅を引いたサイズに動的に計算*/
  line-height: 16px;
  height: 48px;
/*  padding: 14px 6px 0px 6px;*//*文字がテキストエリアの中心になる様に隙間調整*/
  border: 1px solid #ccc;
  border-radius: 4px;/*角丸*/
  text-align: left;/*文字を左寄せ*/
  color: #35a63e;
  font-size:120%;
  padding-left: 6px;
  padding-right: 6px;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;/*内側に影を入れてテキストエリアらしくした*/
  box-sizing: border-box;/*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/

}

#chat_send {
  float: left;
  width: 72px;
  height: 48px;
  font-size: 16px;
  line-height: 3.4em;
  color: #fff;
  font-weight: bold;
  background: #bcbcbc;
  text-align: center;/*文字をボタン中央に表示*/
  border: 1px solid #bbb;
  border-radius: 4px;/*角丸*/
  box-sizing: border-box;/*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/
  margin-left: 3px;
}

#chat_send:hover {
  background: #3BA96C; /*マウスポインタを当てた時にアクティブな色になる*/
  cursor: pointer;/*マウスポインタを当てた時に、カーソルが指の形になる*/
}

#chat_exit {
  width: 100px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  background: #bcbcbc;
  text-align: center;/*文字をボタン中央に表示*/
  border: 1px solid #bbb;
  border-radius: 4px;/*角丸*/
  box-sizing: border-box;/*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/
  margin-left: 3px;
  padding: 4px;
}

#chat_exit:hover {
  background: #3BA96C; /*マウスポインタを当てた時にアクティブな色になる*/
  cursor: pointer;/*マウスポインタを当てた時に、カーソルが指の形になる*/
}

.talk {
  width: 100%;
  height: auto;
  text-align: left;
  clear: left;
  list-style: none;
}

.talk_face {
  float: left;
  max-width: 36px;
  max-height: 36px;
  font-size: 16px;
  margin-bottom: 2px;
  margin-right: 2px;
}
.talk_face img {
  width: 100%;
}

.talk_message {
  padding-top: 6px;
}

.talk_member {
  font-size: 20px;
  font-weight: bold;
}

.date {
  color: #aac
}

#exit_container {
  margin-left: auto;
  margin-right: auto;
  max-width: 660px;
  margin-top: 80px;
  font-size: 20px;
  border-radius: 16px;
  padding: 8px;
  margin-bottom: 16px;
  border: 2px solid #ff9363; 
  background-color: #fff9e7;
}

#admin_container {
  margin-left: auto;
  margin-right: auto;
  max-width: 660px;
}

.admin_panel {
  margin-top: 48px;
  margin-bottom: 48px;
  padding-left: 8px;
  padding-right: 8px;
}

.admin_button {
  width: 100px;
  height: 48px;
  font-size: 16px;
  line-height: 3.4em;
  color: #fff;
  font-weight: bold;
  background: #bcbcbc;
  text-align: center;/*文字をボタン中央に表示*/
  border: 1px solid #bbb;
  border-radius: 4px;/*角丸*/
  box-sizing: border-box;/*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/
  margin-left: 3px;
  margin-top: 4px;
}

.admin_button:hover {
  background: #3BA96C; /*マウスポインタを当てた時にアクティブな色になる*/
  cursor: pointer;/*マウスポインタを当てた時に、カーソルが指の形になる*/
}

.admin_check {
  width: 32px;
  height: 32px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  background: #bcbcbc;
  text-align: center;/*文字をボタン中央に表示*/
  border: 1px solid #bbb;
  border-radius: 4px;/*角丸*/
  box-sizing: border-box;/*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
}

#admin_room {
  line-height: 16px;
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  color: #35a63e;
  font-size:120%;
  padding-left: 6px;
  padding-right: 6px;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;
  box-sizing: border-box;
  margin-left: 8px;
}

.admin_nayose_button {
  width: 180px;
  height: 48px;
  font-size: 16px;
  line-height: 3.4em;
  color: #fff;
  font-weight: bold;
  background: #bcbcbc;
  text-align: center;/*文字をボタン中央に表示*/
  border: 1px solid #bbb;
  border-radius: 4px;/*角丸*/
  box-sizing: border-box;/*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/
  margin-left: 3px;
  cursor: pointer;
}

.admin_nayose_button:hover {
  background: #3BA96C; /*マウスポインタを当てた時にアクティブな色になる*/
  cursor: pointer;/*マウスポインタを当てた時に、カーソルが指の形になる*/
}

#admin_mailaddress {
  line-height: 16px;
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  color: #35a63e;
  font-size:120%;
  padding-left: 6px;
  padding-right: 6px;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;
  box-sizing: border-box;
  margin-left: 8px;
}

#admin_password {
  line-height: 16px;
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  color: #35a63e;
  font-size:120%;
  padding-left: 6px;
  padding-right: 6px;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;
  box-sizing: border-box;
  margin-left: 8px;
}

#admin_roomname {
  line-height: 16px;
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  color: #35a63e;
  font-size:120%;
  padding-left: 6px;
  padding-right: 6px;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;
  box-sizing: border-box;
  margin-left: 8px;
}