@charset "utf-8";

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 16px;
    text-size-adjust: 90%;
    -o-text-size-adjust: 90%;
    -ms-text-size-adjust: 90%;
    -moz-text-size-adjust: 90%;
	-webkit-text-size-adjust: 90%;
	font-family:
        "ヒラギノ角ゴ Pro W3",
        "Hiragino Kaku Gothic Pro",
        "メイリオ",
        Meiryo,
        Osaka,
        sans-serif,
        "モトヤLマルベリ3等幅";
	background-color: #f4b783;
    background-image: url("/images/contents2015/background.png");

    padding: 0px;
    margin: 0px;
}

/* 共通の本文、箇条書き */
div, p, th, td, li {
    line-height: 160%;
    color: #641900;
}

p {
	padding-top: 16px;
	padding-bottom: 16px;
}

img {
	border: 0;
	vertical-align: bottom;
}

table {
	border-collapse: collapse;
}

a.image:hover { background-color: transparent; }

/*
th, td {
	margin-bottom: 1em;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0em;
}*/
th, td {
	background-color: #FFFFFF;
	border: 1px solid #641900;
	padding: 2px;
	font-size: 0.8em;
}
th {
	background-color: #FFFFCC;
}
hr {
	clear: left;
	border: 0;
	height: 10px;
	background-image: url(/images/contents2015/hr.png);
	background-repeat: repeat-x;
	margin-top: 2px;
	margin-bottom: 2px;
}

a:link {
	color: #008837;
}
a:hover {
	color: #018837;
	background-color: #b6ff71;
}
a:visited {
	color: #b23269
}

a img.rollover:hover {
	background-color: transparent;
}
	
#header {
	margin-left: 3%;
	margin-right: 3%;
}

#header:after {
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
}

#title {
    max-width: 500px;
    margin-right: 80px;
    padding: 14px 16px 14px 16px;
    border-radius: 0px 0px 14px 14px;
    background-color: #fff9e7;
    border-left: 2px solid #ff9363;
    border-right: 2px solid #ff9363;
    border-bottom: 2px solid #ff9363;
    box-shadow: 4px 4px 8px #ac8080;
}

#toTop {
    float: right;
    width: 64px;
    height: 64px;
}

#toTop a img {
	width: 100%;
    vertical-align: text-bottom;
    border-style: none;
}

#article {
    margin: 16px 3% 32px 3%;
    padding: 0px 16px 0px 16px;
    border-radius: 14px;
    background-color: #fff9e7;
    border: 2px solid #ff9363;
    box-shadow: 4px 4px 8px #ac8080;
}

.release {
	display: block;
	width: 100%;
	text-align: right;
}

#footer a {
    display: block;
    margin-left: 20%;
    width: 64px;
    height: 64px;
}

#footer a img {
	width: 100%;
    vertical-align: text-bottom;
    border-style: none;
}

/* ------------------- 以下は部品のスタイル定義 ------------------- */
textarea {
    width: 100%;
	font-size:120%;
	padding:5px;
    margin-bottom: 12px;
    color: #35a63e;
}
    
textarea:focus {
    background-color: #FEFCB4;
    outline: none;
    border: 1px solid #ff0000;
}

input[type=text] {
    width: 100%;
	font-size:120%;
	padding:5px;
    margin-bottom: 12px;
    color: #35a63e;
}

input[type=text]:focus {
    background-color: #FEFCB4;
    outline: none;
    border: 1px solid #ff0000;
}

input[type=password] {
    width: 100%;
	font-size:120%;
	padding:5px;
    margin-bottom: 12px;
    color: #35a63e;
}
input[type=password]:focus {
    background-color: #FEFCB4;
    outline: none;
    border: 1px solid #ff0000;
}

input[type=checkbox] {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

input[type=radio] {
	-webkit-transform: scale(2.0);
	transform: scale(2.0);
    vertical-align: middle;
    margin-right: 12px;
}

input[type=button] {
    font-weight: bold;
	font-size: 14px;
	color: #000000;
	padding: 8px 20px;
    background: linear-gradient(
		to bottom,
		#ffffff 0%,
		#e6dbc8 50%,
		#d4c09f 50%,
		#d4c09f 90%,
		#3b2f1a);
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#e6dbc8 50%,
		#d4c09f 50%,
		#d4c09f 90%,
		#3b2f1a);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #e6dbc8),
		color-stop(0.50, #d4c09f),
		color-stop(0.90, #d4c09f),
		to(#3b2f1a));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #000000;
	-moz-box-shadow:
		1px 1px 0px rgba(191,177,151,1),
		inset 0px 0px 5px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		1px 1px 0px rgba(191,177,151,1),
		inset 0px 0px 5px rgba(255,255,255,0.6);
	box-shadow:
		1px 1px 0px rgba(191,177,151,1),
		inset 0px 0px 5px rgba(255,255,255,0.6);
	text-shadow:
		0px 1px 0px rgba(255,255,255,1),
		0px 1px 0px rgba(255,255,255,0.3);
}

input[type=button]:hover {
    padding: 8px 20px;
    background-color: #ffb529;
    background: linear-gradient(
		to bottom,
		#ffffff 0%,
		#ffb529 50%,
		#ea9800 50%,
		#c78200 90%,
		#603f00);
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffb529 50%,
		#ea9800 50%,
		#c78200 90%,
		#603f00);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #ffb529),
		color-stop(0.50, #ea9800),
		color-stop(0.90, #c78200),
		to(#603f00));
    -webkit-box-shadow:inset 0px 0px 3px #fff;
    -moz-box-shadow:inset 0px 0px 3px #fff;
    box-shadow:inset 0px 0px 3px #fff;
}

input[type=button]:active {
position: relative;
    top: 1px;
    background: linear-gradient(
		to bottom,
		#ffb529 0%,
		#f0a619 50%,
		#ea9800 50%,
		#c78200 90%,
		#603f00);
	background: -moz-linear-gradient(
		top,
		#ffb529 0%,
		#f0a619 50%,
		#ea9800 50%,
		#c78200 90%,
		#603f00);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffb529),
		color-stop(0.50, #f0a619),
		color-stop(0.50, #ea9800),
		color-stop(0.90, #c78200),
		to(#603f00));
	-webkit-box-shadow:
		1px -2px 0px rgba(191,177,151,1),
		inset 0px 0px 5px rgba(255,255,255,0.6);
	-moz-box-shadow:
		1px -2px 0px rgba(191,177,151,1),
		inset 0px 0px 5px rgba(255,255,255,0.6);
	box-shadow:
		1px -2px 0px rgba(191,177,151,1),
		inset 0px 0px 5px rgba(255,255,255,0.6);
}

.font_tomon {
	font-weight: bold;
	color: #c6143b;
}
.font_anna {
	font-weight: bold;
	color: #9B5489;
}
.font_chie {
	font-weight: bold;
	color: #293f81;
}
.font_manbo {
	font-weight: bold;
	color: #d96e15;
}
.font_soft {
	font-weight: bold;
	color: #5b2b35;
}
.font_yamane {
	font-weight: bold;
	color: #bda400;
}
.font_mirumo {
	font-weight: bold;
	color: #67a5bb;
}
.font_murumo {
	font-weight: bold;
	color: #5aaacb;
}
.font_rirumu {
	font-weight: bold;
	color: #ca5aa2;
}
.font_papy {
	font-weight: bold;
	color: #e391bc;
}
.font_kumomo {
	font-weight: bold;
	color: #cc2915;
}
.font_sasuke {
	font-weight: bold;
	color: #8400dc;
}
.font_panta {
	font-weight: bold;
	color: #343f5c;
}
.font_aroma {
	font-weight: bold;
	color: #009e8b;
}
.font_hanzo {
	font-weight: bold;
	color: #189857;
}
.font_yashichi {
	font-weight: bold;
	color: #d9002c;
}
.font_akumi {
	font-weight: bold;
	color: #b9193d;
}
.font_nezumi {
	font-weight: bold;
	color: #0B2D7A;
}
.font_gabin {
	font-weight: bold;
	color: #674284;
}
.font_kameri {
	font-weight: bold;
	color: #1E7F47;
}
.font_anrisenri {
	font-weight: bold;
	color: #20825A;
}
.font_kinta {
	font-weight: bold;
	color: #A59A07;
}

.font_beruru {
	font-weight: bold;
	color: #a54ba2;
}

.font_mirai {
	font-weight: bold;
	color: #eea92a;
}

.font_poro {
	font-weight: bold;
	color: #3ab327;
}

.font_fia {
	font-weight: bold;
	color: #db4031;
}
.font_aqua {
	font-weight: bold;
	color: #0008e6;
}
.font_win {
	font-weight: bold;
	color: #60a18d;
}
.font_donta {
	font-weight: bold;
	color: #8e5733;
}
.font_pikumo {
	font-weight: bold;
	color: #ab85ca;
}
.font_rine {
	font-weight: bold;
	color: #ff9a45;
}
.sabun_new {
	color: #189857;
}
.sabun_old {
	color: #189857;
	text-decoration: line-through;
}
