@charset "utf-8";

#news * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;

	font-size: 14px;
	-webkit-text-size-adjust: 100%;
	font-family:
        "ヒラギノ角ゴ Pro W3",
        "Hiragino Kaku Gothic Pro",
        "メイリオ",
        Meiryo,
        Osaka,
        sans-serif,
        "モトヤLマルベリ3等幅";
	text-align: left;    
  margin: 0px;
  padding: 0px;
}

#newsHeader {
	width: 300px;
  height: 60px;
  background-image: url("./images/newsHeader.png");
  background-size: cover;
}

#newsBody {
	width: 300px;
  margin: 0px;
  background-image: url("./images/newsBody.png");
  background-size: contain;
}

#newsFooter {
	width: 300px;
  height: 55px;
  background-image: url("./images/newsFooter.png");
  background-size: cover;
}

#newsBody p {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
}

#newsBody a {
  margin-left: 20px;
}

