name: Upload to S3
on:
  push:
    branches:
      - main

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1
          
      - name: Cache previous sync state
        uses: actions/cache@v3
        with:
          path: ./local-folder
          key: ${{ runner.os }}-s3-sync-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-s3-sync-
      
      - name: S3と同期する
        run: |
          aws s3 sync --exact-timestamps --exclude '.git/*' --exclude '.github/*' . s3://www3.murumoya.com/ --delete
